@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.widget-container {
  width: 1000px;
  height: 570px;
  margin: auto;
  padding: 20px;
}

.title {
  color: #0071bc;
  font-size: 1.5rem;
  font-weight: 400;
}

.divider {
  height: 1px;
  background-color: #0071bc;
  margin: 10px 0 20px 0;
}

.widget-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  margin-right: 20px;
  min-width: 300px;
}

.outlook-card {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 16px;
  padding: 15px;
  position: relative;
}

.outlook-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.outlook-text h3 {
  margin: 0;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}

.outlook-text p {
  margin: 3px 0;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.external-link {
  position: absolute;
  right: 10px;
  top: -10px;
  font-size: 1.2rem;
  color: black
}

.data-section {
  margin-top: 20px;
}

.data-section h4 {
  margin-bottom: 5px;
}

.aqi-bar-container {
  position: relative;
  margin-bottom: 40px;
}

.bar {
  position: relative;
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.bar-color {
  display: flex;
  height: 100%;
}

.avg-marker {
  position: absolute;
  top: -18px;
  font-size: 0.8rem;
  transform: translateX(-50%);
}

.avg-label {
  position: absolute;
  top: -37px;
  transform: translateX(-50%);
  font-size: 16px;
}

.min-label {
  position: absolute;
  top: -24px;
  font-size: 16px;
}

.max-label {
  position: absolute;
  top: -24px;
  font-size: 16px;
}


.bar-values {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 5px;
  position: relative;
}

.bar-avg-value {
  position: absolute;
  transform: translateX(-50%);
}

.right-section {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.map-header {
  position: absolute;
  top: -24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-buttons button {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 16px;
  /* margin-left: 5px; */
  padding: 14px 35px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 6px;
  z-index: 2;
}

.day-buttons button.active {
  background-color: #666;
  color: #fff;
}

.Today {
  position: absolute;
  left: 0px;
}

.Yesterday {
  position: absolute;
  left: 125px;
}

.map-container {
  position: absolute;
  top: 20px;
  left: 0px;
  /* margin-top: 10px; */
  
  /* overflow: hidden; */
  z-index: 1;
}

.map-image {
  width: 100%;
  height: 100%;
  overflow: clip;
  border-radius: 10px;
}

.update-time {
  position: absolute;
  bottom: -30px;
  right: 0px;
  font-size: 14px;
  color: #666;
  
}

/* Responsive breakpoints */
@media (max-width: 1050px) {
  .widget-container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .widget-content {
    flex-direction: column;
  }
  .left-section, .right-section {
    margin-right: 0;
    width: 100%;
  }
}